.container{
    padding: unset;
    margin: unset;
    position: relative;
    max-width: none;
    overflow:auto;
}
.commit-time-line-table{
    width: 100%;
    margin: unset;
}
.commit-time-line-header-row {
    background-color: var(--secondary-color);
    height: 25px;
}
    .commit-time-line-header-row th {
        font-weight: bold;
        padding: 0px 10px;
        font-size: 12px;
        color: var(--nonfocus-text-color);
        border-left: 1px solid var(--tin-border-color);
    }
.commit-time-line-body-row {
}
.branch-header {
    width: 20%;
}
.graph-header{
    width: 25%;
}
.commit-header{
    width: 65%;
}
.commit-time-line-body-commit-message {
    display:block;
    width: min-content;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 10px;
    font-size: 12px;
}
.commit-time-line-body-branch-td{
    padding-left: 10px;
}
.commit-time-line-body-branch {
    max-width: 170px;
    background-color: gray;
    
    padding-left: 5px;
    padding-right: 3px;
    font-size: 12px;
    height: 22px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    width: min-content;
}
.commit-time-line-body-branch-name {
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.commit-time-line-body-graph {
    padding: 0px;
}