@using Gitpilot.Components.Common
<div class="container">
    <div class="repository-container">
        <div class="repository-label">Repository</div>
        <CustomDropdownList Options="Options" SelectedOption="@CurrentRepository" OnOptionSelected="HandleSelectRepo" />
    </div>
    <div class="branch-container">
        <div class="branch-label">Current Branch</div>
        <div class="branch-name">@CurrentBranch</div>
    </div>
</div>



@code {
    [Parameter] public EventCallback<string> OnSelectRepository { get; set; }
    [Parameter] public List<string> Options { get; set; } = [];
    [Parameter] public string CurrentBranch { get; set; } = "";
    [Parameter] public string CurrentRepository { get; set; } = "";

    private async Task HandleSelectRepo(string selectedRepo)
    {
        await OnSelectRepository.InvokeAsync(selectedRepo);
    }
}
