@using Gitpilot.Components.Common
<div class="container">
    <div class="repository-container">
        <div class="repository-label">Repository</div>
        <CustomDropdownList Options="Options" SelectedOption="@CurrentRepository" OnOptionSelected="HandleSelectRepo" />
    </div>
    <div class="branch-container">
        <div class="branch-label">Current Branch</div>
        <div class="branch-name">@CurrentBranch</div>
    </div>
    <div class="quick-access-bar">
        <button>Undo    </button>
        <button>Redo    </button>
        <button @onclick="TriggerGitFetch">Fetch   </button>
        <button @onclick="TriggerGitPull">Pull    </button>
        <button>Push    </button>
        <button>Branch  </button>
        <button>Stash   </button>
        <button>Pop     </button>
        <button class="plus-button" @onclick="TuggleCustomDialogVisibility">+</button>
    </div>
</div>



@code {
    [Parameter] public EventCallback<string> OnSelectRepository { get; set; }
    [Parameter] public List<string> Options { get; set; } = [];
    [Parameter] public string CurrentBranch { get; set; } = "";
    [Parameter] public string CurrentRepository { get; set; } = "";
    [Parameter] public EventCallback OnClickPlushIcon { get; set; }
    [Parameter] public EventCallback OnClickGitFetch { get; set; }
    [Parameter] public EventCallback OnClickGitPull { get; set; }
    [Parameter] public EventCallback OnClickGitPush { get; set; }
    [Parameter] public EventCallback OnClickGitBranchOut { get; set; }
    [Parameter] public EventCallback OnClickGitStash { get; set; }
    [Parameter] public EventCallback OnClickGitPop { get; set; }
    [Parameter] public EventCallback OnClickUndo { get; set; }
    [Parameter] public EventCallback OnClickRedo { get; set; }

    private async Task HandleSelectRepo(string selectedRepo)
    {
        OnSelectRepository.InvokeAsync(selectedRepo);
    }

    private void TuggleCustomDialogVisibility()
    {
        OnClickPlushIcon.InvokeAsync();
    }

    private void TriggerGitFetch()
    {
        OnClickGitFetch.InvokeAsync();
    }
    private void TriggerGitPull()
    {
        OnClickGitPull.InvokeAsync();
    }
}
