<div class="container">
    <div class="img-container">
        
        @if (false)
        {
            <img src="#" alt="Alternate Text" />
        }
        else
        {
            <div class="defualt-profile-img">P</div>
        }
        
    </div>
    <div class="user-name"><span>Sopheaktra</span>  <span>⌟</span></div>
</div>

@code {

}
