:root {
    --primary-color: rgb(51, 55, 63);
    --secondary-color: rgb(39, 42, 49);
    --background-color: rgb(28, 30, 35);
    --secondary-color-hover: rgb(33, 41,57);
    --primary-color-hover: rgb(61, 68, 82);
    --nonfocus-text-color: rgb(105, 107, 113);
    --tin-border-color: rgb(62, 64, 68);
}

body {
    height: 100vh;  
    max-height: 100vh;
}

/* WebKit Browsers */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


.custom-dropdown {
    position: relative;
}

.custom-dropdown-btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}
    .custom-dropdown-btn:hover{
        background-color: var(--primary-color-hover);
    }

    .custom-dropdown-list {
        display: none;
        position: absolute;
        background-color: var(--background-color);
        border: 1px solid #ffffff33;
        border-radius: 3px;
        list-style: none;
        padding: 0;
        margin: 0;
        width: max-content;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

        .custom-dropdown-list li {
            padding: 4px 10px;
            cursor: pointer;
            width: max-content;
            transition: background-color 0.2s;
        }

        .custom-dropdown-list li:hover {
            background-color: var(--primary-color);
        }
