@using Gitpilot.Enums.ViewEnum
<button @onclick="Click" class="@($"{ButtonType.ToString()} {CustomClass}")">
    @ChildContent
</button>

@code {
    [Parameter] public string CustomClass { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ButtonTypeEnum ButtonType { get; set; } = ButtonTypeEnum.Normal;
    [Parameter] public EventCallback OnClick { get; set; }

    private async Task Click()
    {
        await OnClick.InvokeAsync();
    }
}
