@inherits LayoutComponentBase
@using Gitpilot.Components.Common
@using Gitpilot.Components.SideBar
@using Gitpilot.Models
@using Gitpilot.Models.Parameters
@using Gitpilot.Services
@using Gitpilot.Services.Interfaces
@inject IFolderPickerService windowsFolderPicker
@inject IGitRepositoryService gitRepositoryService
@using Newtonsoft.Json

<div class="page">
    <article class="content">
        @Body
    </article>
    <div class="side-nav-bar">
        <div class="app-name-cotainer">
            <div class="gitpiot-name">Gitpilot</div>
        </div>
        <div class="gitbranch-info">
            <GitBranchExplorer LocalBranches="_gitRepository.LocalBranches" RemoteBranches="_gitRepository.RemoteBranches"></GitBranchExplorer>
        </div>
    </div>
    <div class="quick-access-bar">
        <button>Undo    </button>
        <button>Redo    </button>
        <button>Fetch   </button>
        <button>Pull    </button>
        <button>Push    </button>
        <button>Branch  </button>
        <button>Stash   </button>
        <button>Pop     </button>
        <button class="plus-button" @onclick="TuggleCustomDialogVisibility">+</button>
    </div>
    <CustomDialog 
    IsVisible=isCustomDialogVisible 
    OnVisibilityFalse="TuggleCustomDialogVisibility"
    >
        <div class="dialog-container">
            <div><CustomButton>Clone Repository</CustomButton></div>
            <div @onclick="HandleRepoFolderPickIng"><CustomButton>Open Repository</CustomButton></div>
        </div>
    </CustomDialog>
</div>

@code {
    private bool isCustomDialogVisible = false;
    private FolderResult? _selectedRepo;
    private GitRepository? _gitRepository = new GitRepository();


    private void TuggleCustomDialogVisibility()
    {
        isCustomDialogVisible = !isCustomDialogVisible;
    }
    private void TuggleCustomDialogVisibilityOff()
    {
        isCustomDialogVisible = false;
    }
    private async Task HandleRepoFolderPickIng()
    {
        _selectedRepo = await windowsFolderPicker.PickFolderAsync();
        _gitRepository = gitRepositoryService.OpenRepository(new OpentRepoParam{ DirectoryPath = _selectedRepo.FolderPath }).Data;
    }
}
